* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#calculator-container {
    border: 1px solid black;
    height: 250px;
    width: 250px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#container {
    display: flex;
    gap: 8px;
}

.btn {
    padding: 8px;
}

/* LEFT PANEL */
#left-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#input-container {
    text-align: right;
    padding: 8px;
    margin-bottom: 5px;
}

#clear-btn-container {
    display: flex;
    gap: 5px;
}

.clear-btn {
    display: flex;
    flex: 1;
    justify-content: center;
}

#number-btn-container {
    display: flex;
    flex-wrap: wrap;
}

.number-btn {
    flex-basis: calc(100% / 3);
}

.number-btn:last-child {
    flex-basis: 100%;
}

/* RIGHT PANEL */
#right-panel {
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 10px;
}
